.button-post-now-blue {
    background-color: white;
    border-radius: 78px;
    border: none;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    box-shadow: 1px 1px 0 0 #118ab2;
    color: #118ab2; 
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button-post-now-blue:hover {
    background-color: #118ab2; 
    color: white;
  }
  