h1 {
    color: #F1FAEE;
    text-shadow: 2px 1px 1px #E63946;
}
.petCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.7rem;
    width: 60%;
    justify-content: space-between;
    padding: 2%;
    background-color: #F1FAEE;
    border: solid 2px #E63946;
    border-radius: 12px;
}

.lost-pets-layout {
    padding-top: 5%;
    background-color:#1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}