.pet-info-layout {
    padding-top: 5%;
    background-color:#1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pet-info-layout h1 {
    color: #F1FAEE;
    text-shadow: 2px 1px 1px #E63946;
}

.pet-info-container {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding: 2%;
    background-color: #F1FAEE;
    border-radius: 12px;
    box-shadow: 5px 5px 0 0 #E63946;
    margin: 2%;
}

.pet-info-image-container {
    display: flex;
    position: relative;
    width: 300px;
  }

.pet-info-image {
    width: 100%;
    display: block;
    border: solid 1px #1D3557;
    box-shadow: #E63946 5px 5px 5px, inset #E63946  10px 10px 50px;
    border-radius: 2px;

}

.pet-info-details-container {
    text-align: left;
    font-weight: bolder;
    font-size: large;
    width: 700px;
}

.pet-info-details-keys {
    color: #1D3557;
}

.pet-info-details-values {
    color: #457B9D;
}