.lost-pets-layout h1 {
    color: var(--white);
    text-shadow: 2px 1px 1px var(--red); 
}

.pet-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.7rem;
    width: 60%;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--white);
    border: solid 2px var(--red); 
    border-radius: 12px;
    position: relative;
    z-index: 0;
}

.pet-cards-container a {
    text-decoration: unset;
}

.lost-pets-layout {
    padding-top: 5%;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.clear-filters-margin {
    margin-bottom: 20px;
}
