.button-post-now {
    background-color: #e63946;
    border-radius: 78px;
    border: none;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    box-shadow: 1px 1px 0 0 #1D3557;
    border-color: #e63946;
    color: var(--White, #FFF); 
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button-post-now:hover {
    background-color: var(--White, #FFF); 
    color: #e63946; 
  }
  