.pet-card-text {
    color: #E63946;
    text-shadow: 1.5px 0 1px #1D3557;
    font-size: large;
    font-weight: bold;
}

.pet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-image-container {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    position: relative;
    width: 80%;
  }


.foreground-image {
    position: absolute;
    grid-column: 1 / span 35;
    grid-row: 1; 
    z-index: 1;
}

.background-image {
    grid-column: 2 / -1;
    grid-row: 1;
    padding-top: 5%; 
    box-shadow: #E63946 5px 5px 5px, inset #E63946  10px 10px 50px;
    border-radius: 2px;
}

.pet-image {
    width: 100%;
    display: block;
    border: solid 1px #1D3557;

}

.found-overlay {
  z-index: 2;
}

.banner-picture {
  width: 100%;
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.information-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(168, 218, 220, 0.8);
    text-align: left;
    z-index: 2;
  }

  .card:hover .information-overlay {
    opacity: 1;
    cursor: pointer
  }

  .overlay-text {
    color: #1D3557;
    margin: 3%;
    font-weight: bold;
  }
