.filter-buttons-container {
    display: flex;
    margin-bottom: 20px;
    border: solid green 5px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid green 5px;
}


.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 1%;
    
}
