.App {
  text-align: center;
}

:root {
  --red: #E63946;
  --darkBlue: #1D3557;
  --mediumBlue: #457B9D;
  --lightBlue: #A8DADC;
  --white: #F1FAEE;
  --brightBlue: #118ab2;
  --disclaimerBlue: #007bff;
  --overlayTransparentBlue: rgb(168, 218, 220, 0.8);
  --blackHalfOpacity: rgba(0, 0, 0, 0.5);
  --faintBlack: rgba(0, 0, 0, 0.1);
  --darkGrey: #343a40;
  --lightGrey: #6c757d;

}
